<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="icon" href="favicon.ico" type="image/x-icon" />

	</head>
	<body>
		<div id="accountlogin">
		</div>
		<div id="statuscopyright">
		</div>
		<div class="canvas">
			<div class="content">
				<div class="header">
					<div class="header_le">
						<a href="/"><img src="newimg/logopas3.png" alt="Toolbox Logo"/></a>
					</div>
					<div class="header_ri">
						<div class="menu_main">
						<a>hallo</a>
						</div>
					</div>
				</div>
				<div class="main">
					<div class="main_le">
						<div class="txt"> 
						</div>
						<div class="submenu">
						</div>
						<div class="statusblock">
						</div>
					</div>
					<div class="main_ri">
						<div class="mfull">
							<div class="fce_le">
								<div class="fce_le_header">
								</div>
								<div class="fce_le_body">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
