<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="no-js ie6" lang="nl"> <![endif]-->
<!--[if IE 7 ]><html class="no-js ie7" lang="nl"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie8" lang="nl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="nl" class="no-js"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
	<title>PAS3 DEMO</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<!-- CSS -->
	<link rel="stylesheet" href="res/css/screen.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons  -->
	<link rel="shortcut icon" href="res/img/favicon.ico">
	<link rel="apple-touch-icon" href="res/img/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="res/img/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="res/img/apple-touch-icon-114x114.png">

</head>
<body>

	<div class="wrapper">
		<aside>
			<div class="sidebar islet">
				<img src="res/img/content/logo.png" class="logo" alt="PAS3">
				<!-- <h2>InDesign Advertisements</h2> -->
				<ul class="nav sub-nav">
					<li><a href="#">Ads for magazines</a></li>
				</ul>
			</div>
		</aside>

		<section class="page">
			
			<header class="header">
				<div class="login">
					<small>logged in as shaman&nbsp;&nbsp;</small><a href="#" class="btn">Logout</a>
				</div>
				<nav>
					<ul class="nav site-nav">
						<li><a href="#">About</a></li>
						<li><a href="#" class="act">Demo</a></li>
						<li><a href="#">Wiki</a></li>
						<li><a href="#">Get Started</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</nav>		
			</header><!-- /header -->

			<section class="content">
				
				<div class="pas3-util">
					<div class="viewer">
						<div class="preview">
							<h4>PAS3 Visitekaartje</h4>
							<img src="res/img/content/preview.png" alt="">
						</div>

						<div class="type">
							<ul class="nav nav-selector">
								<li><a href="#"><img src="res/img/content/selection.png" alt=""></a></li>
								<li><a href="#"><img src="res/img/content/selection.png" alt=""></a></li>
								<li><a href="#"><img src="res/img/content/selection.png" alt=""></a></li>
							</ul>
						</div>
					</div>

					<footer>
						<div class="paginator">
							<p>Step:  1 ‹  preview ‹  order</p>
						</div>

						<div class="select">
							<a href="#" class="btn">Show last preview</a>
						</div>
					</footer><!-- /footer -->
				</div><!-- /pas3-util -->

			</section><!-- /content -->
			
		</section><!-- /section -->
	</div>

	<!-- JS -->
	<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<!--	<script>window.jQuery || document.write("<script src='js/jquery-1.7.2.min.js'>\x3C/script>")</script>-->

</body>
</html>
