div.listElement
{
   width:200px;
}
div.statusblock
{
   float:left;
   width:212px;
   margin-left:10px;
   margin-top:5px;
}
.indd_sv2_controls
{
}
.indd_sv2_steps
{
	width:	330px!important;
}
div.indd_sv2_footer
{
}
